*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #333;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.paragraphe {
  margin: 30px;
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80vw;
}

.textPlus {
  white-space: normal;
}

.lirePlus {
  cursor: pointer;
  display: inline-block;
}

.lirePlus:hover {
  background: coral;
}
